* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #121212;
    font-family: sans-serif;
    height: 100vh;
}

.container{
    background-color: #1e1e1e;
    border-radius: 5px;
    padding: 20px;
    width: 320px;
    max-width: 80%;
    
    text-align: center;
    margin-top: 41px;
    margin-left: auto;
    margin-right: auto;
    
}

.container .img {
    margin-top: 1rem;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

h1 {
    color: #ffffff;
    margin-top: 31px;
    margin-bottom: 8px;
}

p {
    color: #ffffff
}

.links ul {
    margin-top: 35px;
    
    
}

.links ul li {
    background-color: #121212;
    margin-bottom: 18px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    border-radius: 15px;
}

.links ul li:hover {
    background-color: #1e1e1e;
    font-size: 1.1rem;
}

a {
    color: #ffffff;
    padding: 15px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
}


footer{
    color: #ffffff;
    text-align: center;
    margin-top: 5px;
}